#spacer {
    height: 25px;
}

#admin {
    text-align: left;
    margin-top: 3%;
    margin-left: 5%;
}

#empresa {
    text-align: left;
    margin-top: 1%;
    margin-left: 5%;
}

hr {
    width: 36%;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px solid #f7882f;
}

.administrador {
    display: grid;
    width: 100%;
    height: 300px;
    grid-column-gap: 10px;
}

.correo_admin {
    display: grid;
    grid-template-columns: 175px 200px 200px;
    margin-top: 4%;
    margin-left: 5%;
}

.contrasena_admin {
    display: grid;
    grid-template-columns: 175px 200px 200px;
    margin-left: 5%;
}

#nombre_emp {
    margin-left: 5%
}

.btn {
    position: absolute;
    margin-left: 460px;
    margin-top: 35px;
}

#separar hr {
    position: absolute;
    width: 35%;
    margin-left: 565px;
    margin-top: 53px;
}