/*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a verde muy oscuro
    #ececec gris 
*/

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    min-width: 200px;
}

#primer_aside {
    text-align: center;
    border-right: solid 2px #f7882f;
    height: 600px;
    color: #ececec;
    width: 100%;
    position: relative;
    min-width: 150px;
    background-color: #292c2a;
}

#primer_aside h2 {
    text-align: center;
    padding: 15px;
    border-bottom: solid 2px #f7882f;
    margin-right: 10px;
}

#primer_aside ul {
    padding: 10px;
    border-bottom: solid 1px #b1a3a318;
    margin-right: 10px;
}

#primer_aside ul a {
    color: #ececec;
    text-decoration: none;
}

#primer_aside ul a:hover {
    color: #f7c331;
}