#spacer {
    height: 20px;
}

#mini_spacer {
    height: 10px;
}

hr {
    border: 1px solid #f7882f;
}

.acomodo {
    margin: auto;
    width: 70%;
}

#datos_cliente img {
    border-radius: 20px;
}

#info_clientes {
    display: grid;
    grid-template-columns: 300px 450px 100px;
}

#info_cliente {
    display: grid;
    grid-template-columns: 300px 300px;
}

#info_cliente select {
    width: 220px;
}

#info_cliente input {
    width: 220px;
}

#info_cliente label {
    color: #636e72;
}

#datos_cliente {
    display: grid;
    grid-template-columns: 185px 250px;
    margin: auto;
}

#direccion_clientes {
    display: grid;
    grid-template-columns: 200px 200px 220px 200px;
    margin: auto;
}

#datos_cliente label {
    color: #636e72;
}

#datos_cliente input {
    color: #636e72;
    width: 552px;
}

#direccion_cliente label {
    color: #636e72;
}

#direccion_cliente input {
    width: 552px;
}

#icono_img i {
    position: absolute;
    padding-top: 5px;
    text-align: center;
    margin-top: 110px;
    color: #ececec;
    background: #f7882f;
    border-radius: 50px;
    height: 25px;
    width: 30px;
}

#icono_img i:hover {
    background: transparent;
    color: #f7882f;
    border: 1px solid #f7882f;
    border-radius: 10rem;
}

output[type="text"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input[type="text"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input[type="number"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#direccion_cliente select {
    width: 150px;
}

p {
    color: #636e72;
}

#label_color label {
    color: #f7882f;
    font-size: 14px;
}