/*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a  verde muy oscuro
    #ececec gris
     
    AGREGAR ESTO QUE SIGUE EN TODOS LOS HTML, OBLIGADO
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    */

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #292c2a;
    background-color: #ececec;
    background-repeat: no-repeat;
}

main {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: #292c2a;
}

h2 {
    font-size: 30px;
    color: #f7882f;
}

h3 {
    font-size: 26px;
    color: #292c2a;
}

button {
    display: inline-block;
    margin: auto;
    position: relative;
    background: #f7882f;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 8px 15px;
    border-radius: 10rem;
    color: #ececec;
}

button:hover {
    background: transparent;
    color: #f7882f;
    border: 1px solid #f7882f;
    border-radius: 10rem;
}