/*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a  verde muy oscuro
    #ececec gris 
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap" rel="stylesheet">
    */

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #292c2a;
    background-color: #ececec;
    background-repeat: no-repeat;
}

main {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: #292c2a;
}