/*Andrés*/


/*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a  verde muy oscuro
    #ececec gris 
    */

.iniciar_wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: 500px 1fr;
    column-gap: 25px;
    padding-top: 50px;
}

.ilustracion {
    background: #ececec;
    height: auto;
    width: 100%;
}

.formulario_iniciar_sesion {
    width: 100%;
}

.recuperar {
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

.recuperar a {
    color: #f7882f;
    font-size: 14px;
}

.recuperar a:hover {
    color: #f7c331;
}