tr td {
    padding: 15px;
    border: 1px solid #f7c331;
    font-size: 15px;
}

.filter {
    margin: 15px;
    font-size: 30px;
}

tr th {
    padding: 15px;
    border: 1px solid #f7882f;
    font-size: 15px;
}