#main_form {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    display: grid;
}

#spacer {
    height: 50px;
}

h1 {
    padding-left: 60px;
}

#txt_descripcion {
    min-height: 50px;
    resize: vertical;
}

#num_porcentaje {
    padding: 5px 0px 5px 0px;
    height: 25px;
}

#bnr_input {
    height: 35px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 30px;
    color: #f7882f;
}

#bnr_input::placeholder {
    color: #f7892f85;
    position: relative;
}

#search_icon {
    position: relative;
    left: 60px;
    top: 10px;
    color: #f7892f67;
}

#search {
    display: grid;
    grid-template-columns: 1px 1fr 140px;
}

#tbl_descuento {
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

#tbl_descuento thead {
    height: 25px;
    font-size: 20px;
    color: #f7882f;
    border-bottom: #f7882f 2px solid;
}

#tbl_descuento thead th {
    min-width: 100px;
}

#tbl_descuento tbody {
    height: 18px;
    border-bottom: #f7882f 1px solid;
    text-justify: center;
    text-align: center;
    line-height: 18px;
    font-size: 16;
}

#tbl_descuento tbody td {
    min-width: 100px;
    padding: 5px;
}

#tbl_descuento tbody tr {
    border-bottom: 1px dotted #f7c331;
}

.btn {
    width: 135px;
    height: 30px;
    border: 1px solid #f7882f;
    font-size: 16px;
    padding: 5px;
    margin: auto;
}

.btn:hover {
    background: transparent;
    color: #f7882f;
    border: 1px solid #f7882f;
}