/*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a  verde muy oscuro
    #ececec gris 
    */

html {
    font-family: 'Roboto', sans-serif;
    background: #ececec;
}

header {
    width: 100%;
    min-width: 1050px;
    border-bottom: #f7c331 solid 5px;
    margin-bottom: 20px;
}

.img_container {
    margin: 3px;
}

a {
    text-decoration: none;
}

.img_container img {
    background-color: #292c2a;
    width: 300px;
    height: 250px;
    border: #f7c331 solid 3px;
    border-radius: 10px
}

#main_grid {
    display: grid;
    min-width: 900px;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 40px 1fr 1fr;
    grid-gap: 10px 10px;
    position: relative;
}

#editar a {
    text-decoration: none;
    color: #f7c331;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 20px;
}

#editar a:hover {
    text-decoration: none;
    color: #f7882f;
    font-size: 20px;
}

#bnr_nombre {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
}

.spacer {
    width: 100%;
    height: 2px;
    background: #f7882f;
    margin: 10px 0px 20px 0px;
}


/*la carta del evento*/

.item1 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 40px;
    margin: 0% auto;
}


/*títulos*/

label {
    display: block;
    margin-top: 5px;
    color: #f7882f;
    font-size: 16px;
    min-width: 200px;
    margin: auto;
    padding-left: 10px;
}


/*datos*/

output {
    display: block;
    color: #292c2a;
    font-size: 18px;
    position: relative;
    margin-left: 250px;
    bottom: 17px;
}


/*descripción del evento*/

.item2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    margin: auto;
    margin-bottom: 0px;
    background-image: url('../img/tribal_prueba.jpeg');
    height: 50px;
    width: 100%;
}


/*geolocalización mapa de google*/

.item3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}

.item3 img {
    overflow: hidden;
    object-fit: cover;
    width: 300px;
    height: 250px;
}


/*imagen del evento*/

.item4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto;
    margin-top: 10px;
}


/*agregar al carrito de compras  */

.item5 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    height: 40px;
    width: 365px;
    position: relative;
    margin: auto;
    bottom: 40px;
    right: 15px;
    z-index: 1;
}

.item5 button {
    height: 35px;
    display: inline-block;
}

.item5 button:hover {
    background: #ecececd7;
}

.item5 h3 {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    background: #ecececb7;
    border-radius: 10px;
    padding: 5px;
}

.item6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    margin: auto;
    margin-top: 10px;
}

.item7 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    height: 40px;
    width: 365px;
    display: inline-block;
    position: relative;
    margin: auto;
    bottom: 110px;
}

input {
    border: none;
    display: inline-block;
    background: #ecececb0;
    border-radius: 10px;
    width: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #f7882f;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 50px;
    height: 30px;
    text-align: center;
    margin: auto;
}

#nmbr_mask {
    position: relative;
    margin-right: -5px;
}

#nmbr_mask:after {
    content: "";
    width: 70%;
    height: 35px;
    left: 0;
    position: absolute;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}


/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: auto;
}


/*sección de calificación del evento*/

#calificar {
    display: grid;
    width: 840px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 10px;
    position: absolute;
}

#sct_calificacion {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 300px;
    height: 100px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
}

#sct_calificacion h1 {
    font-size: 20px;
    color: #f7882f;
    position: absolute;
    padding-left: 20px;
    font-weight: 900;
    top: 60px;
    left: 15px;
    margin: auto;
}


/*sección de las estrellas*/

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 40px;
    color: #292c2a;
    position: relative;
    top: 50px;
    left: 200px;
    width: 220px;
}

.rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
    color: #f7c331;
}


/*sección de comentarios*/

#sct_coment {
    width: 550px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#coment_head {
    color: #f7882f;
    font-size: 22px;
    height: 40px;
    margin-bottom: 5px;
}

#coment_head h4 {
    position: relative;
    left: 20px;
    top: 10px;
}

#coment_body {
    padding: 10px;
    border: solid #292c2a 1px;
    border-radius: 10px;
}

#coment_body textarea {
    resize: vertical;
    min-height: 100px;
    min-width: 200px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


/*botón de comentar*/

#btn_coment {
    margin: 10px;
}

#btn_coment:hover {
    background: transparent;
    color: #f7882f;
}

.btn:hover {
    background: transparent;
    color: #f7882f;
    border: 1px solid #f7882f;
    box-sizing: border-box;
}

#fecha_evento {
    margin-top: 10px;
    width: 475px;
    margin-bottom: 10px;
}

#fecha_evento thead {
    height: 25px;
    font-size: 20px;
    color: #f7882f;
    border-bottom: #f7c331 1px solid;
    text-align: left;
}

#fecha_evento thead th {
    min-width: 50px;
    padding-left: 10px;
}

#tbl_hora {
    width: 50px;
}

#fecha_evento tbody {
    height: 18px;
    border-bottom: #f7c331 1px solid;
    line-height: 18px;
    font-size: 16;
    color: #292c2a;
}

#fecha_evento tbody td {
    min-width: 50px;
    padding: 10px;
}

#fecha_evento tbody tr {
    border-bottom: 1px dotted #f7c331;
}


/*descuentos*/

#descuentos_evento {
    margin-top: 15px;
    min-width: 300px;
}

#descuentos_evento thead {
    height: 25px;
    font-size: 16px;
    color: #f7882f;
    border-bottom: #f7882f 2px solid;
}

#descuentos_evento thead th {
    min-width: 50px;
    padding-left: 10px;
}

#descuentos_evento tbody {
    height: 18px;
    border-bottom: #f7882f 1px solid;
    line-height: 18px;
    font-size: 16;
    color: #292c2a;
}

#descuentos_evento tbody td {
    min-width: 100px;
    padding: 10px;
}

#descuentos_evento tbody tr {
    border-bottom: 1px dotted #f7c331;
}

#map {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #f7c331;
}

.hidden {
    visibility: hidden;
}