    /*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a  verde muy oscuro
    #ececec gris 
    */
    
    html {
        font-family: 'Roboto', sans-serif;
        background: #ececec;
    }
    
    header {
        width: 100%;
        background: #f7c331;
        height: 300px;
        border-bottom: #f7882f solid 20px;
        margin-bottom: 40px;
    }
    
    #banner_grid {
        display: grid;
        width: 90%;
        height: 250px;
        margin: auto;
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 100px;
        grid-template-rows: 30px 1fr 1fr 1fr 30px;
        grid-column-gap: 10px;
    }
    
    .banner_left {
        position: relative;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 5;
    }
    
    .banner_right {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 6;
        overflow: hidden;
        margin: auto;
    }
    
    .img_container {
        min-width: 200px;
        height: 200px;
        overflow: hidden;
        margin: auto;
    }
    
    .img_container img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    
    #bnr_nombre {
        color: white;
        display: block;
        position: relative;
        top: 20px;
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 5px;
    }
    
    .banner_left a {
        color: white;
        font-size: 25px;
        position: relative;
        top: 60px;
    }
    
    main {
        width: 70%;
        margin: auto;
        margin-bottom: 40px;
    }
    
    #main_grid {
        display: inline-grid;
        max-width: 1375px;
        width: 100%;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px 10px;
    }
    /*la carta del evento*/
    
    .item1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
        border-radius: 10px;
        background: #292c2a;
        padding: 40px;
        z-index: 1;
    }
    /*títulos*/
    
    .item1 label {
        display: block;
        margin-top: 15px;
        color: #f7882f;
        font-size: 16px;
        min-width: 200px;
    }
    /*datos*/
    
    .item1 output {
        display: block;
        color: #f7c331;
        font-size: 16px;
        position: relative;
        margin-left: 150px;
        bottom: 25px;
    }
    /*descripción del evento*/
    
    .item2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 7;
        border-radius: 10px;
        background: #292c2a;
        padding: 40px;
        max-width: 1375px;
        min-width: 500px;
        margin-top: 10px;
    }
    /*título*/
    
    .item2 h1 {
        color: #f7882f;
        font-size: 20px;
    }
    /*descripción */
    
    .item2 #descripcion_evento {
        color: white;
        font-size: 25px;
        margin-left: 16px;
        position: relative;
        top: 10px;
    }
    /*geolocalización mapa de google*/
    
    .item3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 5px;
        max-width: 300px;
        max-height: 300px;
        border: 1px solid burlywood;
        margin: auto;
    }
    /*botón que lleva al perfil del recinto*/
    
    .item4 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        border-radius: 5px;
        max-width: 300px;
        margin: auto;
    }
    
    .item4 button {
        background: #f7882f;
        font-size: 16px;
        letter-spacing: 3px;
        border: 1px solid #f7882f;
        padding: 12px 35px;
        border-radius: 10rem;
        color: #ececec;
        margin-top: 10px;
    }
    /*agregar al carrito de compras  */
    
    .item5 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 6;
        max-width: 300px;
        margin: auto;
        z-index: 1;
    }
    
    .item5 button {
        width: 250px;
        height: 70px;
        border-radius: 50px;
        border: transparent;
        color: white;
        background: #f7882f;
        font-size: 20px;
        font-weight: 900;
        justify-self: center;
    }
    
    .item5 h3 {
        font-size: 16px;
        text-align: center;
        margin-top: 5px;
    }
    /*sección de calificación del evento*/
    
    #sct_calificacion {
        width: 50%;
        margin: auto;
        position: relative;
        background: #292c2a;
        border-radius: 10px;
        min-width: 550px;
    }
    
    #sct_calificacion h1 {
        font-size: 35px;
        color: #f7c331;
        position: absolute;
        padding-left: 20px;
        top: 10px;
        left: 10px;
    }
    /*sección de las estrellas*/
    
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        font-size: 55px;
        color: white;
        padding-right: 20px;
    }
    
    .rating>span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }
    
    .rating>span:hover:before,
    .rating>span:hover~span:before {
        content: "\2605";
        position: absolute;
        color: #f7c331;
    }
    /*sección de comentarios*/
    
    #sct_coment {
        width: 50%;
        margin: auto;
        display: block;
        margin-top: 40px;
        grid-row-gap: 10px;
        position: relative;
    }
    
    #coment_head {
        background: #292c2a;
        color: #f7c331;
        font-size: 30px;
        border-radius: 10px;
        min-height: 60px;
    }
    
    #coment_head h1 {
        position: relative;
        left: 20px;
        top: 15px;
    }
    
    #coment_body {
        padding: 10px;
        background: #292c2a;
        border-radius: 10px;
    }
    
    #coment_body textarea {
        resize: none;
        min-height: 100px;
        min-width: 200px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }
    /*botón de comentar*/
    
    #btn_coment {
        background: #f7882f;
        font-size: 16px;
        letter-spacing: 3px;
        border: 1px solid #f7882f;
        padding: 12px 35px;
        border-radius: 10rem;
        color: #ececec;
        margin-top: 10px;
    }
    
    #btn_coment:hover {
        background: transparent;
        color: #f7882f;
    }
    
    .btn:hover {
        background: transparent;
        color: #f7882f;
        border: 1px solid #f7882f;
        box-sizing: border-box;
    }