/*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a  verde muy oscuro
    #ececec gris 
    */

html {
    font-family: 'Roboto', sans-serif;
    background: #ececec;
}

header {
    width: 100%;
    height: 210px;
    border-bottom: #f7c331 solid 5px;
    margin-bottom: 20px;
}

#banner_grid {
    display: grid;
    grid-template-columns: 240px 1fr 300px;
    min-width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
}

.banner_left {
    text-align: center;
    text-justify: center;
    margin: auto;
}

.banner_right {
    margin: auto 20px;
    width: 260px;
}

.img_container {
    margin: 3px;
}

.img_container img {
    background-color: #292c2a;
    width: 250px;
    height: 160px;
    border: #f7c331 solid 2px;
    border-radius: 10px 10px 10px 10px;
}

#bnr_nombre {
    font-family: 'Raleway', sans-serif;
    color: #292c2a;
    display: block;
    position: relative;
    top: 10px;
    font-size: 50px;
    margin-bottom: 5px;
    height: 150px;
    overflow: hidden;
}

.banner_left a {
    color: #f7882f;
    font-size: 16px;
    position: absolute;
    top: 90px;
    left: 10px;
}

#main_grid {
    display: grid;
    min-width: 900px;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px 10px;
    position: relative;
    border-bottom: 2px dotted #f7882f;
}

.portada_container {
    width: 200px;
    height: 150px;
    margin: auto 20px;
}

.portada_container img {
    height: 150px;
    width: auto;
}

#editar a {
    text-decoration: none;
    color: #f7c331;
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid #f7c331 2px;
}

#editar a:hover {
    text-decoration: none;
    color: #f7882f;
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid #f7882f 2px;
}


/*la carta del evento*/

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 10px;
    padding: 20px;
    margin: 0% auto;
}


/*títulos*/

.item1 label {
    display: block;
    margin-top: 5px;
    color: #f7882f;
    font-size: 16px;
    min-width: 200px;
    margin: auto;
}


/*datos*/

.item1 output {
    display: block;
    color: #292c2a;
    font-size: 20px;
    position: relative;
    margin-left: 130px;
    bottom: 15px;
}


/*descripción del evento*/

.item2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    border-radius: 10px;
    padding: 20px;
}


/*título*/

.item2 h1 {
    color: #f7882f;
    font-size: 20px;
}


/*descripción */

.item2 #descripcion_evento {
    color: #292c2a;
    font-size: 16px;
    margin-left: 20px;
    position: relative;
    top: 10px;
}


/*geolocalización mapa de google*/

.item3 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 5px;
    margin: auto;
}

.item3 img {
    overflow: hidden;
    object-fit: cover;
    width: 250px;
    height: 250px;
}


/*botón que lleva al perfil del recinto*/

.item4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    position: absolute;
    top: 0px;
    left: 10%;
}


/*agregar al carrito de compras  */

.item5 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 300px;
}

.item5 button {
    margin: 0 auto;
    width: 300px;
}

.item5 h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

input {
    border: none;
    background: transparent;
    width: 55px;
    font-weight: 900;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
    height: 20px;
    text-align: center;
}

#nmbr_mask {
    position: relative;
}

#nmbr_mask:after {
    content: "";
    width: 75%;
    height: 30px;
    left: 0;
    position: absolute;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}


/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: auto;
}


/*sección de calificación del evento*/

#calificar {
    display: grid;
    width: 840px;
    margin: auto;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 10px;
}

#sct_calificacion {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 300px;
    height: 100px;
    position: relative;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

#sct_calificacion h1 {
    font-size: 22px;
    color: #f7882f;
    position: absolute;
    padding-left: 20px;
    font-weight: 900;
    top: 20px;
    left: 50px;
    margin: auto;
}


/*sección de las estrellas*/

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 40px;
    color: #292c2a;
    position: relative;
    top: 50px;
    left: 35px;
    width: 220px;
}

.rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
    color: #f7c331;
}


/*sección de comentarios*/

#sct_coment {
    width: 550px;
    position: relative;
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#coment_head {
    color: #f7882f;
    font-size: 22px;
    height: 40px;
    margin-bottom: 5px;
}

#coment_head h4 {
    position: relative;
    left: 20px;
    top: 10px;
}

#coment_body {
    padding: 10px;
    border: solid #292c2a 1px;
    border-radius: 10px;
}

#coment_body textarea {
    resize: vertical;
    min-height: 100px;
    min-width: 200px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


/*botón de comentar*/

#btn_coment {
    margin: 10px;
}

#btn_coment:hover {
    background: transparent;
    color: #f7882f;
}

.btn:hover {
    background: transparent;
    color: #f7882f;
    border: 1px solid #f7882f;
    box-sizing: border-box;
}

#fecha_evento {
    margin-top: 10px;
    width: 475px;
    margin-bottom: 30px;
}

#fecha_evento thead {
    height: 25px;
    font-size: 20px;
    color: #f7882f;
    border-bottom: #f7882f 2px solid;
    text-align: left;
}

#fecha_evento thead th {
    min-width: 50px;
    padding-left: 10px;
}

#tbl_hora {
    width: 50px;
}

#fecha_evento tbody {
    height: 18px;
    border-bottom: #f7882f 1px solid;
    line-height: 18px;
    font-size: 16;
    color: #292c2a;
}

#fecha_evento tbody td {
    min-width: 50px;
    padding: 10px;
}

#fecha_evento tbody tr {
    border-bottom: 1px dotted #f7c331;
}


/*descuentos*/

#descuentos_evento {
    margin-top: 15px;
    min-width: 300px;
}

#descuentos_evento thead {
    height: 25px;
    font-size: 20px;
    color: #f7882f;
    border-bottom: #f7882f 2px solid;
}

#descuentos_evento thead th {
    min-width: 50px;
    padding-left: 10px;
}

#descuentos_evento tbody {
    height: 18px;
    border-bottom: #f7882f 1px solid;
    line-height: 18px;
    font-size: 16;
    color: #292c2a;
}

#descuentos_evento tbody td {
    min-width: 100px;
    padding: 10px;
}

#descuentos_evento tbody tr {
    border-bottom: 1px dotted #f7c331;
}

#map {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #f7c331;
}