.registrar_wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: 500px 1fr;
    column-gap: 25px;
    padding-top: 50px;
}

#spacer {
    height: 25px;
}

.ilustracion {
    background: #ececec;
    height: auto;
    width: 100%;
}

.formulario_registro {
    width: 100%;
}

input[type="text"],
input[type="string"],
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    display: block;
    width: 30%;
    border: none;
    border-bottom: 1px solid #f7c331;
    background: transparent;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 18px;
    color: #292c2a;
}

#type1 {
    color: #f7882f;
    position: absolute;
    margin-left: 200px;
    padding-top: 10px;
}

#type2 {
    color: #f7882f;
    position: absolute;
    padding-left: 200px;
}

#botones {
    display: grid;
    grid-template-columns: 200px 200px;
}

#botones a {
    text-decoration: none;
    color: #ececec;
}

#botones a:hover {
    text-decoration: none;
    color: #f7882f;
}