.barra_opciones a {
    display: grid;
    padding: 20px;
    padding-left: 15px;
    text-decoration: none;
    color: #000;
}

.barra_opciones hr {
    width: 15%;
    margin-left: 0%;
}

.formas_pago {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 15%;
    background: #f7882f;
    opacity: 0.9;
}

.barra_opciones li {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.opciones {
    display: grid;
    grid-template-columns: 15% 1fr;
}

.opciones1 {
    display: grid;
    grid-template-columns: 15% 15% 4% 1fr;
}

.texto_central a {
    padding: 20px;
    color: #55504c;
    border-bottom: 2px solid #f7882f;
    text-align: left;
    margin-left: 15%;
}

.opciones1 h1 {
    padding: 20px;
    color: #f7882f;
    border-bottom: 2px solid #f7882f;
    text-align: left;
}

.opciones1 p {
    padding: 20px;
    color: #55504c;
    border-bottom: 2px solid #f7882f;
}

.opciones1 li a {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.opciones1 li :hover {
    background: #f7c331;
    opacity: 0.9;
}

.opciones li:hover {
    background: #f7c331;
    opacity: 0.9;
}