/*Andrés*/


/*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a  verde muy oscuro
    #ececec gris 
    */

.registrar_wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: 500px 1fr;
    column-gap: 25px;
    padding-top: 50px;
}

.ilustracion {
    background: #ececec;
    height: auto;
    width: 100%;
}

.imagen_evento img {
    width: 200px;
    height: 200px;
}

.formulario_registro {
    min-width: 550px;
    width: 100%;
}

.imagen_evento {
    background: #f7c331;
    height: 200px;
    width: 200px;
    margin: auto;
}

.btn_imagen {
    display: inline-block;
    margin-left: 0px;
    position: relative;
    background: #f7882f;
    font-size: 14px;
    letter-spacing: 3px;
    padding: 10px 25px;
    border-radius: 10rem;
    color: #ececec;
    overflow: hidden;
    border: 1px solid #f7882f;
}

.btn_imagen:hover {
    background: transparent;
    color: #f7882f;
    border: 1px solid #f7882f;
    box-sizing: border-box;
}

.btn_container_peq a button {
    font-size: 13px;
    padding: 5px;
    letter-spacing: 0px;
    text-align: left;
    border: 1px solid #f7882f;
}

#fecha_hora {
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

#fecha_hora thead {
    height: 25px;
    font-size: 20px;
    color: #f7882f;
    border-bottom: #f7882f 2px solid;
}

#fecha_hora thead th {
    min-width: 100px;
}

#fecha_hora tbody {
    height: 18px;
    border-bottom: #f7882f 1px solid;
    text-justify: center;
    text-align: center;
    line-height: 18px;
    font-size: 16;
}

#fecha_hora tbody td {
    min-width: 100px;
    padding: 5px;
}

#fecha_hora tbody tr {
    border-bottom: 1px dotted #f7c331;
}

#cantidad_fechas {
    width: 50px;
    margin: auto;
}

#btn_fecha {
    min-width: 156px;
}