/*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a  verde muy oscuro
    #ececec gris 
    */

#tipos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 220px));
}

#tipos div {
    margin: 10px 20px;
    text-align: center;
    border: 2px double #f7882f;
    padding: 10px 0;
}

#main h1 {
    color: #292c2a;
    font-size: 30px;
}

hr {
    border: #f7882f solid 1px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: #292c2a;
    margin: 30px;
}

form {
    margin: 0 20px;
}

label {
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: 30px 0;
    border-bottom: #f7882f solid 1px;
    width: 20%;
}

input {
    outline: none;
    display: block;
    width: 40%;
    padding: 5px 0px 5px 0px;
    border: none;
    border-bottom: 1px solid #f7c331;
    background: transparent;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 30px;
    color: #292c2a;
    resize: vertical;
}

button {
    display: inline-block;
    margin: auto;
    position: relative;
    background: #f7882f;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 8px 15px;
    border-radius: 10rem;
    color: #ececec;
}

button:hover {
    background: transparent;
    color: #f7882f;
    border: 1px solid #f7882f;
    box-sizing: border-box;
}

h1 {
    margin: 20px;
}

#arriba {
    display: grid;
    grid-template-columns: 60% 40%;
}

#txt-filtro {
    height: 35px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 30px;
    color: #f7882f;
}

#txt-filtro::placeholder {
    color: #f7892f85;
    position: relative;
}

#search_icon {
    position: relative;
    left: 10px;
    top: 30px;
    color: #f7892f67;
}