#spacer {
    height: 25px;
}

#mini_spacer {
    height: 10px;
}

.fondo {
    display: grid;
    column-gap: 25px;
    top: 80px;
}

.perfil {
    display: grid;
    grid-template-columns: 200px 500px 1fr;
    column-gap: 25px;
    padding-top: 30px;
    height: 300px;
    margin: 0 auto;
}

.imagen {
    display: grid;
    height: 130px;
    grid-template-columns: 225px 515px;
}

.imagen_avatar {
    display: grid;
    height: 130px;
}

#info_general {
    display: grid;
    grid-template-columns: 570px 200px;
    height: 100px;
    padding-top: 20px;
}

.info_tarjeta {
    height: 100px;
    width: 170px;
    border-radius: 20px;
    border: 1px solid #f7882f;
}

.info_tarjeta i {
    color: #f7882f;
    padding-top: 5px;
    padding-left: 10px;
}

.info_tarjeta p {
    color: #f7882f;
    padding-top: 10px;
    padding-left: 10px;
}

#agregar_info_tarjeta {
    padding-top: 15px;
    margin-left: 100px;
}

#avat {
    border-radius: 20px;
}

#visual {
    height: 40px;
    width: 515px;
    background: black;
}

#nac_gen {
    display: grid;
    grid-template-columns: 270px 500px;
}

#nombre {
    color: #f7882f;
    font-size: 22px;
    padding-top: 3px;
}

#correo {
    color: #000;
    padding-top: 2px;
}

.visualizar {
    display: grid;
    grid-template-columns: 350px;
}

hr {
    position: relative;
    border: 1px solid #f7c331;
}

#preferencia {
    width: 65%;
}

.btn {
    position: absolute;
    margin-left: 32%;
    top: 120px;
}

p {
    color: #f7882f;
    margin-right: 5%;
}

output {
    color: #000;
}

.espacio_info {
    padding-top: 7px;
    padding-bottom: 7px;
}

#tbl_perfil tbody {
    color: #000;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 220px));
}

#cards div span {
    margin-left: 10px;
}

.card img {
    display: grid;
    grid-template-columns: repeat(500px);
    width: 180px;
    height: 130px;
}