    /*  #e7d1b3 beige
    #f7c331 amarillo
    #f7882f anaranjado
    #292c2a  verde muy oscuro
    #ececec gris 
*/
    
    header nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: linear-gradient(to bottom right, #292c2a, #292c2a);
        border-bottom: 2px solid #f7882f;
        padding: 10px;
    }
    
    .navegador_derecha {
        text-align: right;
        text-decoration: none;
    }
    
    header nav a {
        text-decoration: none;
        color: #ececec;
        padding: 10px;
    }
    
    header nav a:hover {
        color: #f7882f;
    }